<template>
    <v-container fluid grid-list-lg>
        <v-layout row wrap>
            <v-flex md8>
                <v-card>
                    <v-carousel delimiter-icon="stop" v-if="model && model.pictures && model.pictures.length > 0">
                        <router-link to="/">
                            <v-carousel-item v-for="(item,i) in model.pictures" v-bind:src="item.url" :key="i"></v-carousel-item>
                        </router-link>
                    </v-carousel>
                    <v-card-actions class="white">
                        <v-btn class="grey--text text--darken-3" round>
                            <v-icon left dark>thumb_up</v-icon>
                            12345
                        </v-btn>
                        <v-btn class="grey--text text--darken-3" round>
                            <v-icon left dark>thumb_down</v-icon>
                            54321
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn icon>
                            <v-icon>favorite_border</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>bookmark_border</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>share</v-icon>
                        </v-btn>
                        <v-menu bottom left>
                            <v-btn icon slot="activator">
                                <v-icon>more_vert</v-icon>
                            </v-btn>
                            <v-list>
                                <v-list-tile @click="">
                                    <v-list-tile-title>title1</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="">
                                    <v-list-tile-title>title2</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </v-card-actions>
                </v-card>
                <br>
                <v-card>
                    <v-container>
                        <v-layout row align-center>
                            <v-flex class="text-xs-center" xs2>
                                <v-avatar size="64px">
                                    <img src="/static/img/avatar.jpg" alt="">
                                </v-avatar>
                            </v-flex>
                            <v-flex xs10>
                                <v-text-field name="input-7-1" label="发表评论" rows="3" multi-line></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout class="text-xs-right">
                            <v-spacer></v-spacer>
                            <v-btn small>取消</v-btn>
                            <v-btn small color="orange darken-3 white--text">发表</v-btn>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
            <v-flex md4>
                <v-card>
                    <v-card-media :src="model.coverUrl" height="200px">
                    </v-card-media>
                    <v-card-title primary-title>
                        <div class="headline">{{model.name}}</div>
                        <!-- <div class="grey--text">{{model.description}}</div> -->
                    </v-card-title>
                    <v-card-title>
                        <div>
                            <div class="subheading">发布日期：</div>
                            <div class="grey--text">{{model.publishDate | moment('YYYY年MM月DD日')}}</div>
                            <br>
                            <div class="subheading">开发商：</div>
                            <div class="grey--text">
                                <v-chip small v-for="(item, i) in model.developers" :key="i">{{item}}</v-chip>
                            </div>
                            <br>
                            <div class="subheading">发行商：</div>
                            <div class="grey--text">
                                <v-chip small v-for="(item, i) in model.publishers" :key="i">{{item}}</v-chip>
                            </div>
                             <br>
                            <div class="subheading">游戏类型：</div>
                            <div class="grey--text">
                                <v-chip small v-for="(item, i) in model.tags" :key="i">{{item}}</v-chip>
                            </div>
                            <br>
                            <div class="subheading">操作系统：</div>
                            <div class="grey--text">
                                <v-chip small v-for="(item, i) in model.platforms" :key="i">{{item.name}}</v-chip>
                            </div>
                            <br>
                            <div class="subheading">语言：</div>
                            <div class="grey--text">
                                <v-chip small v-for="(item, i) in model.languages" :key="i">{{item}}</v-chip>
                            </div>
                            <br>
                            <div class="subheading">相关链接：</div>
                            <div class="grey--text">
                                <v-chip small v-for="(item, i) in model.links" :key="i">
                                    <a :href="item.url" target="_blank">{{item.name}}</a>
                                </v-chip>
                            </div>
                        </div>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
  data: () => ({
    model: {}
  }),
  mounted() {
    this.$api.discover().then(api => {
      api.getGame({ id: this.$route.params.id }).then(ret => {
        this.model = ret.item;
      });
    });
  }
};
</script>

<style scoped>

</style>