<template>
  <div>
    <v-container fluid grid-list-xl class="grey lighten-4">
      <v-carousel delimiter-icon="stop" v-if="carousels.length > 0">
        <router-link v-for="(item,i) in carousels" :key="i" :to="'/game/' + item.id">
          <v-carousel-item v-bind:src="item.coverUrl"></v-carousel-item>
        </router-link>
      </v-carousel>
      <br>
      <v-card ref="anchor">
        <v-card-actions>
          <v-flex xs3 align-center>
            <rey-select-order v-model="order" :items="orderItems" @change="queryChanged('order', ...arguments)"></rey-select-order>
          </v-flex>
          <v-spacer></v-spacer>
          <v-btn icon color="primary--text">
            <v-icon>view_module</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>view_list</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-layout row wrap v-scroll="onScroll">
        <v-flex class="md4 lg3" v-for="item in game.items" :key="item.id">
          <v-card>
            <router-link :to="'/game/' + item.id">
              <v-card-media :src="item.coverUrl" height="200px"></v-card-media>
            </router-link>
            <v-card-title primary-title>
              <div style="font-size:1.2em;">{{item.name}}</div>
            </v-card-title>
            <v-card-actions>
              <div style="font-size:1.2em;">
                <div v-if="new Date(item.publishDate).getTime() > new Date().getTime()">未发布</div>
                <div v-else-if="item.isFree">免费</div>
                <div v-else>
                  {{item.price && item.price.final / 100}}元
                  <span v-if="item.price.original > item.price.final" style="text-decoration:line-through;font-size:12px;">
                    {{item.price && item.price.original / 100}}元
                  </span>
                </div>
              </div>
              <v-spacer></v-spacer>
              <v-btn icon>
                <v-icon>favorite_border</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>bookmark_border</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>share</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout justify-center align-center v-if="loading">
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
      </v-layout>
    </v-container>
    <v-navigation-drawer fixed right app>
      <rey-check-filter v-model="tag" :items="tagItems" @change="queryChanged('tag', ...arguments)" title="游戏类型"></rey-check-filter>
      <rey-check-filter v-model="platform" :items="platformItems" @change="queryChanged('platform', ...arguments)" title="操作系统"></rey-check-filter>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data: () => ({
    carousels: [],
    game: {
      items: [],
      total: 0
    },
    tagItems: [],
    tag: [],
    platformItems: [],
    platform: [],
    orderItems: [
      { name: "按发布时间", value: "1" },
      { name: "按价格从低到高", value: "2" },
      { name: "按价格从高到低", value: "3" }
    ],
    order: null,
    filters: [
      {
        can: name => name === "tag",
        generate: (name, values) => ({ tags: { $in: values } })
      },
      {
        can: name => name === "platform",
        generate: (name, values) => ({ "platforms.name": { $in: values } })
      },
      {
        can: (name, value) => name === "published" && value == 1,
        generate: () => ({ publishDate: { $gt: new Date() } })
      },
      {
        can: (name, value) => name === "published" && value == 2,
        generate: () => ({ publishDate: { $lt: new Date() } })
      }
    ],
    orders: [
      {
        can: (name, value) => name === "order" && value == 1,
        generate: () => ({ publishDate: -1 })
      },
      {
        can: (name, value) => name === "order" && value == 2,
        generate: () => ({ "price.final": 1 })
      },
      {
        can: (name, value) => name === "order" && value == 3,
        generate: () => ({ "price.final": -1 })
      }
    ],
    loading: false
  }),
  watch: {
    $route(to, from) {
      this.query(to);
    }
  },
  methods: {
    async query(route) {
      route = route || this.$route;

      this.tag = this.$helper.toArray(route.query.tag);
      this.platform = this.$helper.toArray(route.query.platform);
      this.order = route.query.order;

      const filter = this.$builders
        .filter({ params: route.query })
        .addItems(this.filters)
        .build();

      const order = this.$builders
        .order({ params: route.query, default: { publishDate: -1 } })
        .addItems(this.orders)
        .build();

      const api = await this.$api.discover();
      const size = parseInt(route.query.size);
      if (Number.isNaN(size)) {
        if (Object.keys(route.query).length > 0) {
          this.$scrollTo(this.$refs.anchor.$el, 300, {
            offset: -70,
            onDone: async () =>
              (this.game = await api.getGames({ filter, order }))
          });
        } else {
          window.scrollTo(0, 0);
          this.game = await api.getGames({ filter, order });
        }
      } else {
        const skip = this.game.items.length;
        const result = await api.getGames({
          filter,
          order,
          skip,
          size: size - skip
        });
        this.game.items = this.game.items.concat(result.items);
        this.game.total = result.total;
      }
    },
    queryChanged(name, value) {
      let query = Object.assign({}, this.$route.query, {
        r: parseInt(Math.random() * 10000)
      });
      delete query.size;
      query[name] = value;
      this.$router.push({ path: "./", query });
    },
    async onScroll(e) {
      const d = document.documentElement;
      const offset = d.scrollTop + window.innerHeight;
      const height = d.offsetHeight;

      if (offset === height && this.game.items.length < this.game.total) {
        this.queryChanged(
          "size",
          Math.min(this.game.items.length + 24, this.game.total)
        );
      }
    }
  },
  async mounted() {
    let api = await this.$api.discover();

    this.carousels = (await api.getGames({
      order: { publishDate: -1 },
      size: 10
    })).items;

    this.tagItems = (await api.getTags()).items.map(item => {
      return { name: item, value: item };
    });

    this.platformItems = (await api.getPlatforms()).items.map(item => {
      return { name: item, value: item };
    });

    await this.query();

    this.$route.meta.scroll.emit();
  }
};
</script>

<style scoped>

</style>