<template>
  <!-- <v-list subheader dense>
    <v-subheader>游戏类型</v-subheader>
    <v-list-tile v-for="item in handler.items" :key="item.value">
      <v-switch :label="item.name" v-model="item.checked" @change="change(item)" color="primary"></v-switch>
      <v-checkbox :label="item.name" v-model="item.checked" @change="change(item)" color="primary"></v-checkbox>
    </v-list-tile>
  </v-list> -->

  <v-container grid-list-md>
    <v-card>
      <v-container>
        <v-layout row wrap>
          <v-flex xs12 class="primary--text" style="font-size:1.1em;">{{title}}</v-flex>
          <v-flex xs12 md6 v-for="item in handler.items" :key="item.value">
            <v-checkbox :label="item.name" v-model="item.checked" @change="change(item)" hide-details color="primary"></v-checkbox>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import { CheckHandler } from "./cls";
export default {
  model: {
    prop: "values",
    event: "change"
  },
  props: {
    values: {
      type: Array,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    title: String
  },
  data: () => ({
    handler: new CheckHandler()
  }),
  watch: {
    items(items) {
      this.handler.initItems(items);
    },
    values(values) {
      this.handler.initValues(values);
    }
  },
  methods: {
    change(item) {
      const values = this.handler.items
        .filter(x => x.checked)
        .map(x => x.value);
      this.$emit("change", values);
    }
  },
  mounted() {
    this.handler.init(this.items, this.values);
  }
};
</script>

<style scoped>

</style>