<template>
    <v-menu offset-y full-width>
        <v-btn slot="activator" block class="text-xs-left primary">{{name}}
            <v-spacer></v-spacer>
            <v-icon right>arrow_drop_down</v-icon>
        </v-btn>
        <v-card>
            <v-list>
                <v-list-tile v-for="(item, i) in handler.items" :key="i" @click="change(item)">{{item.item.name}}</v-list-tile>
            </v-list>
        </v-card>
    </v-menu>
</template>

<script>
import { SelectHandler } from "./cls";
export default {
  model: {
    event: "change"
  },
  props: {
    value: {
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  },
  computed: {
    name() {
      return (this.handler.current || { name: "排序" }).name;
    }
  },
  data: () => ({
    handler: new SelectHandler()
  }),
  watch: {
    items(items) {
      this.handler.initItems(items);
    },
    value(value) {
      this.handler.initValue(value);
    }
  },
  methods: {
    change(item) {
      this.$emit("change", item.value);
    }
  },
  mounted() {
    this.handler.init(this.items, this.value);
  }
};
</script>

<style scoped>

</style>