<template>
  <v-app id="inspire">
    <v-toolbar app clipped-left fixed color="primary" dark>
      <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <router-link to="/" class="white--text">
          <span class="hidden-xs-only">Exgaming</span>
        </router-link>
      </v-toolbar-title>
      <v-text-field light solo prepend-icon="search" placeholder="Search" style="max-width: 500px; min-width: 128px"></v-text-field>
      <div class="d-flex align-center" style="margin-left: auto">
        <v-btn icon>
          <v-icon>apps</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>notifications</v-icon>
        </v-btn>
        <v-btn icon large>
          <v-avatar size="32px">
            <img src="/static/img/avatar.jpg" alt="Vuetify">
          </v-avatar>
        </v-btn>
      </div>
    </v-toolbar>
    <v-navigation-drawer fixed clipped app v-model="drawer">
      <v-list>
        <template v-for="(item, i) in items">
          <v-divider v-if="item.divider" :key="i"></v-divider>
          <v-list-tile v-else :key="i" @click="$router.push(item.url)">
            <v-list-tile-action>
              <v-icon class="primary--text">{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
      <v-footer absolute color="primary white--text">
        <span>Exgaming</span>
        <v-spacer></v-spacer>
        <span>&copy; 2017</span>
      </v-footer>
    </v-navigation-drawer>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    items: [
      { icon: "home", text: "首页", url: "/" },
      { icon: "trending_up", text: "最受欢迎", url: "/" },
      { icon: "star", text: "最受好评", url: "/" },
      { icon: "money_off", text: "免费游戏", url: "/" },
      { divider: true },
      { icon: "favorite", text: "我喜欢的", url: "/" },
      { icon: "bookmark", text: "我标记的", url: "/" }
    ]
  })
};
</script>

<style>
a,
a:hover,
a:active {
  text-decoration: none;
}
</style>
